/*CSS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
#content{
    max-width: 1600px;
    margin:0 auto;
}

nav a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
    
}
#hero-msg h1 {
    text-align: center; 
}
#hero-msg h4 {
    text-align: center; 
}
.button-box {
    text-align: center; 
}
main section {
    text-align: center; 
}
#background {
    height: 725px;
    background-color: #ddb892
}
body {
    background-color: white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #3C4323;
}
nav a:hover {
    background-color: #95dce5;
    color: #eb9d6d;
}
.book {
        background-color: #ddb892;
        color: #000814;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
}
.join {
    background-color: #ddb892;;
    color: #000814;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}
.book:hover {
    background-color: #ddb892;
    color: #eb9d6d;
}
.join:hover {
    background-color: #6b705c;
    color: #132a13;
}
.msg {
    background-color: #6b705c;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #6b705c;
    color: #ddb892;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: #132a13;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color:#000814 ;
}
.msg h2 {
    color: #ffffff;
}
.msg p {
    color: #ffffff;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: #ddb892;
    text-decoration: none;
}
footer a:hover {
    color: #000814;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
} 
h2{
    margin: 0; 
}
footer .social img {
    padding-top: 15px;
}
#logo_link {padding-top: 5px;
} 
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
} 
.card-img {
    border: 10px solid #d9c2a3;
}
.main section img {
    box-sizing: border-box;
}