.navbar-item, #home-calltoaction a, #home-calltoaction img, .modal img, form button {transition: transform .2s;}
.navbar-item:hover, #home-calltoaction a:hover, #home-calltoaction img:hover, .modal img:hover, form button:hover {transform: scale(1.02);}
.navbar-end{height: 98%;}
.navbar-end span {transition: transform .2s;}
.navbar-end span:hover {transform: scale(1.05);}
#home-tabs {margin-top: 5rem;}
#home-tabs ul li a {
    transition: transform .2s;
    padding: .5rem 3rem;
}
#home-tabs ul li {padding: 0 .3rem;}
#home-tabs ul li a:hover {transform: scale(1.01);}
#aboutme-tabs a {color: #363636;}
#view-github {
    background-color: #363636;
    padding: .1rem .5rem;
    border-radius: 15px;
    color: white;
    transition: transform .3s;
}
#view-github:hover {
    transform: scale(1.01);
    color: #5BE9B9
}
#home-tabs ul li.is-active a, #aboutme-tabs ul li.is-active a {
    color: #5BE9B9;
    background-color: #6e07f3;
}
/* Show content for the active tab */
#tab-content > div:target {
  display: block;
}
.custom-text-color {
        color: #5BE9B9;
}
.has-text-custom-color {
    color: #6e07f3 !important; /* Your desired main text color */
}
/* Add this custom class */
.custom-button-color {
    background-color: #5BE9B9 !important; 
    color: #ffffff !important;
    
}
.contact-me.button {
    background-color: #5BE9B9 !important;
    color: #ffffff !important;
}
.custom-title {
    color: #5BE9B9;
}

.custom-text-color {
    color: #6e07f3;
}
.custom-text-color-2 {
    color: #5BE9B9;
}

#card .card-footer {border: none;}
.tabs-github-link {
    color: #5BE9B9;
    background-color: #6e07f3;
    padding: .2rem .4rem;
    border-radius: 5px;
    text-decoration: none;
    transition: transform .3s;
}
.tabs-github-link:hover {color: #6e07f3}
#portrait {padding-top: 0; border-radius: 200px;}
#tab-content img {padding-top: 0;}
#home-calltoaction, #aboutme-calltoaction {margin-bottom: 13rem;}
  /* Center the form on the page */
   form {
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
   }
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
@media screen and (max-width: 1024px) {
    .aboutme #tab-content .columns {
        display: flex;
        flex-direction: column;
    }
}